.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block__title {
  height: 200px;
}
.block__title h1 {
  text-align: center;
}
.block__middle {
  height: 200px;
  display: flex;
  gap: 5%;
}
.block__middle div {
  width: 30%;
  flex: 1;
}
.border-solid {
  border: 1px solid black;
}
.border-dotted {
  border: 1px dotted black;
  background-color: azure;
}
.block-green {
  background-color: darkcyan;
}
.block-plum {
  background-color: plum;
}
.block__bottom {
  height: 200px;
  display: flex;
  gap: 20px;
}
.btn-warning-wrapper {
  flex: 1;
}
.btn-success-wrapper {
  flex: 2;
}
.block__bottom div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-open {
  display: flex;
}
.block__title_none {
  display: none;
}
.block__middle_first {
  order: -1;
}
@media screen and (max-width: 576px) {
  .block__title {
    height: 100px;
  }
  .block__middle {
    flex-direction: column;
    gap: 20px;
  }
  .block__middle div {
    width: 100%;
    height: 100px;
  }
  .block__bottom {
    flex-direction: column;
  }
  .btn-success-wrapper {
    flex: 1;
  }
}
