.blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block_type_title {
  height: 200px;
  border: 1px solid black;
}
.block_type_title h1 {
  text-align: center;
}
.block_type_middle {
  height: 200px;
  display: flex;
  gap: 5%;
}
.block_type_middle div {
  width: 30%;
  flex: 1;
}
.block__solid {
  border: 1px solid black;
}
.block__dotted {
  border: 1px dotted black;
  background-color: azure;
}
.block__green {
  background-color: darkcyan;
}
.block__plum {
  background-color: plum;
}
.block_type_bottom {
  height: 200px;
  display: flex;
  gap: 20px;
}
.block__btn-warning-wrapper {
  flex: 1;
}
.block__btn-success-wrapper {
  flex: 2;
}
.block_type_bottom div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-open {
  display: flex;
}
.block_type_none {
  display: none;
}
.block_type_toggle {
  order: -1;
}
@media screen and (max-width: 576px) {
  .block_type_title {
    height: 100px;
  }
  .block_type_middle {
    flex-direction: column;
    gap: 20px;
  }
  .block_type_middle div {
    width: 100%;
    height: 100px;
  }
  .block_type_bottom {
    flex-direction: column;
  }
  .block__btn-success-wrapper {
    flex: 1;
  }
}
